<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Amazon Web Application Automation Testing">
    <test name="Amazon WebApp Test Cases" thread-count="10">
        <classes>
            <class name="com.amazon.qa.testcases.LoginPageTest"></class>
            <class name="com.amazon.qa.testcases.HomePageTest"></class>
            <class name="com.amazon.qa.testcases.CartPageTest"></class>
            <class name="com.amazon.qa.testcases.ReturnsAndOrdersTest"></class>
            <class name="com.amazon.qa.testcases.SearchPageTest"></class>

        </classes>
    </test>
</suite>